<div class="wrapper fadeInDown">
    <div id="formContent">

        <div style="margin: 20px; font-weight: 600; text-transform: uppercase;">
            <h5 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', cursive;">Wishlist</h5>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Prize pool</th>
                    <th scope="col">Is public</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Arthur's birthday</th>
                    <td>1000.00 €</td>
                    <td>Yes</td>
                    <td>Delphine</td>
                    <td style="text-align: left;">
                        <button type="button" class="btn btn-primary">
                            <fa class="mr-2" name="eye" style="margin-right: 5px;"></fa>Show
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Trip to Japan</th>
                    <td>920.00 €</td>
                    <td>Yes</td>
                    <td>Thomas</td>
                    <td style="text-align: left;">
                        <button type="button" class="btn btn-primary" style="margin-right: 10px;">
                            <fa class="mr-2" name="eye" style="margin-right: 5px;"></fa>Show
                        </button>
                        <button type="button" class="btn btn-success">
                            <fa class="mr-2" name="edit" style="margin-right: 5px;"></fa>Edit
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Smart watch</th>
                    <td>210.00 €</td>
                    <td>No</td>
                    <td>Eliot</td>
                    <td style="text-align: left;">
                        <button type="button" class="btn btn-primary">
                            <fa class="mr-2" name="eye" style="margin-right: 5px;"></fa>Show
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>