<div class="wrapper fadeInDown">
    <div id="formContent" [ngClass]="{'smallForm':showDetail}">

        <div style="margin: 20px; font-weight: 600; text-transform: uppercase;">
            <h5 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', cursive;">Wishlist</h5>
            <label (click)="showDetail = false; loadForm()" *ngIf="showDetail" class="btn-close">
                Close<fa class="mr-2" name="times" style="margin-left: 5px;"></fa>
            </label>
            
        </div>

        <div class="alert alert-success" role="alert" *ngIf="success_message != null">
            {{success_message}}
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="error_message != null">
            {{error_message}}
        </div>

        <table class="table table-hover" *ngIf="!showDetail">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <!-- <th scope="col">Prize pool</th> -->
                    <th scope="col">Public</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <th scope="row">{{item.wishlist.name}}</th>
                    <!-- <td>1000.00 €</td> -->
                    <td *ngIf="item.wishlist.isPublic">Yes</td>
                    <td *ngIf="!item.wishlist.isPublic">No</td>
                    <td>{{item.wishlist.ownerName}}</td>
                    <td style="text-align: left;">
                        <button type="button" class="btn btn-primary" (click)="showDetail = true; selectedItem = item; loadForm();">
                            <fa class="mr-2" name="eye" style="margin-right: 5px;"></fa>Show
                        </button>
                        <button type="button" class="btn btn-success" style="margin-left: 5px;">
                            <fa class="mr-2" name="edit" style="margin-right: 5px;"></fa>Edit
                        </button>
                        <button type="button" class="btn btn-danger" style="margin-left: 5px;" (click)="removeItem(item.wishlist.id, item.id)">
                            <fa class="mr-2" name="remove" style="margin-right: 5px;"></fa>Remove
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div *ngIf="showDetail">
            <form [formGroup]="form" (ngSubmit)="showDetail = false;">
                <input type="text" id="name" class="fadeIn second" formControlName="name" placeholder="Name">
    
                <div class="customCheckbox">
                    Public
                    <label class="switch">
                        <input type="checkbox" class="primary" formControlName="public">
                        <span class="slider"></span>
                    </label>
                </div>
    
                <hr>
    
                <div class="customCheckbox" style="cursor: pointer;" (click)="showInfo = !showInfo;">
                    <div style="display: inline-block; width: 94%;">Prize Pool</div>
                    <fa class="mr-2" name="sort-down" style="margin-left: 5px;"></fa>
                </div>
    
                <div *ngIf="showInfo">
                        <input type="text" class="fadeIn second" id="delegateTo" name="delegateTo" formControlName="delegateTo" placeholder="Delegate to">
                        <input type="date" class="customCheckbox" value="2019-07-22" name="endDate" formControlName="endDate" min="2019-01-01" max="2020-12-31">
                        
                </div>
                <input type="submit" class="fadeIn fourth" value="Back">
            </form>
        </div>

    </div>
</div>