<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first" style="margin: 20px; font-weight: 600;">
        <h5 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', cursive;">LOGIN</h5>
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="Password">
        <input type="submit" class="fadeIn fourth" value="Login">

        <hr class="my-4">

        <div class="row" style="padding-bottom: 25px;">
          <div class="col-10 offset-1">
            <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit" style="font-size: 15px">
              <fa class="mr-2" name="facebook" style="margin-right: 5px;"></fa> Login with Facebook
            </button>
          </div>
        </div>
      </form>
  
    </div>
  </div>