<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first" style="margin: 20px; font-weight: 600;">
        <!--<img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />-->
        CONNEXION
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Adresse mail">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="Mot de passe">
        <input type="submit" class="fadeIn fourth" value="Se Connecter">

        <hr class="my-4">
        <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit">
          <i class="fab fa-google mr-2"></i> Se connecter avec Facebook
        </button>

      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>