<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first" style="margin: 20px; font-weight: 600;">
            <h5 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', cursive;">Create new wishlist</h5>
        </div>

        <div class="alert alert-success" role="alert" *ngIf="success_message != null">
            {{success_message}}
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="error_message != null">
            {{error_message}}
        </div>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <input type="text" id="name" class="fadeIn second" formControlName="name" placeholder="Name">

            <div class="customCheckbox">
                Public
                <label class="switch">
                    <input type="checkbox" class="primary" formControlName="public">
                    <span class="slider"></span>
                </label>
            </div>

            <hr>

            <div class="customCheckbox" style="cursor: pointer;" (click)="showPrizePool = !showPrizePool;">
                <div style="display: inline-block; width: 94%;">Prize Pool</div>
                <fa *ngIf="!showPrizePool" class="mr-2" name="caret-down" style="margin-left: 5px;"></fa>
                <fa *ngIf="showPrizePool" class="mr-2" name="caret-right" style="margin-left: 7px;"></fa>
            </div>

            <div *ngIf="showPrizePool">
                    <label style="margin-left : 5px;">End date</label>
                    <input type="date" class="customCheckbox" style="width: 44%; margin-left: 120px; margin-right: 0px;" 
                        value="2019-07-22" name="endDate" formControlName="endDate" min="2019-01-01" max="2020-12-31">
                    <input type="text" class="fadeIn second" id="delegateTo" name="delegateTo" formControlName="delegateTo" placeholder="Delegate's email">
                    
            </div>

            <div class="customCheckbox" style="cursor: pointer;" (click)="showProduct = !showProduct;">
                    <div style="display: inline-block; width: 94%;">Products</div>
                    <fa *ngIf="!showProduct" class="mr-2" name="caret-down" style="margin-left: 5px;"></fa>
                    <fa *ngIf="showProduct" class="mr-2" name="caret-right" style="margin-left: 7px;"></fa>
                </div>
    
                <div *ngIf="showProduct">
                    <input type="text" class="fadeIn second" id="productName" name="productName" formControlName="productName" placeholder="Product name">
                    <input type="text" class="fadeIn second" id="productDescription" name="productDescription" formControlName="productDescription" placeholder="Product description">
                    <input type="number" class="customCheckbox" id="productAmount" name="productAmount" formControlName="productAmount" placeholder="Product amount">
                    <!-- <input type="text" class="fadeIn second" id="productImage" name="productImage" formControlName="productImage" placeholder="Product image"> -->
                    <input type="text" class="fadeIn second" id="productLink" name="productLink" formControlName="productLink" placeholder="Product link">
                    <input type="number" class="customCheckbox" id="productPosition" name="productPosition" formControlName="productPosition" placeholder="Product position">
                    
                </div>

            



            <input type="submit" class="fadeIn fourth" value="Create">
        </form>

    </div>
</div>