<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first" style="margin: 20px; font-weight: 600;">
            <h5 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', cursive;">Create new wishlist</h5>
        </div>

        <!-- Login Form -->
        <form>
            <input type="text" id="name" class="fadeIn second" name="name" placeholder="Name">
            <input type="text" id="prizePool" class="fadeIn second" name="prizePool" placeholder="Prize pool">
            <input type="text" id="isPublic" class="fadeIn second" name="isPublic" placeholder="Is public">

            <input type="text" id="delegateTo" class="fadeIn second" name="delegateTo" placeholder="Delegate to">
            <!-- <div>Public
                <label class="switch">
                    <input type="checkbox" class="primary">
                    <span class="slider"></span>
                </label>
            </div> -->

            <input type="submit" class="fadeIn fourth" value="Create">
        </form>

        <!-- Remind Passowrd
            <div id="formFooter">
                Already have an account?
                <a class="underlineHover" href="login">Log In</a>
            </div> -->





    </div>
</div>