<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #313a71!important;">
    <a class="navbar-brand" href="#">WISH IT</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="">Home
                    <!-- <span class="sr-only">(current)</span> -->
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="wishlist">Wishlist</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="create">New wishlist</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="donation">My donations</a>
            </li>
        </ul>

        <ul class="navbar-nav" style="position: absolute; right: 0; margin-right: 10px;">
            <span class="navbar-text" style="color: #fff; margin-right: 1rem;" *ngIf="isConnected() != null">
                Connected as <a href="profile" >{{firstname}}</a>
            </span>
            <li class="nav-item">
                <a class="nav-link" href="login" *ngIf="isConnected() == null">Log In</a>
                <a class="nav-link" style="cursor: pointer;" *ngIf="isConnected() != null" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>