<div class="wrapper fadeInDown">
    <div id="formContent" class="smallForm">

        <div class="fadeIn first" style="margin: 20px; font-weight: 600;">
            <h5 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', cursive;">Invitation</h5>
        </div>

        <div class="alert alert-success" role="alert" *ngIf="success_message != null">
            {{success_message}}
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="error_message != null">
            {{error_message}}
        </div>

        <div style="margin-bottom: 20px;">
            <hr> This is an invitation to join a wishlist.
        </div>

    </div>
</div>